In [33]:
import numpy
import pandas as pd

In [34]:
market_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [35]:
def lower_case_column_names():
    market_data.columns=[i.lower() for i in market_data.columns]
    return market_data
market_data = lower_case_column_names()

In [36]:
market_data['effective to date'] = pd.to_datetime(market_data['effective to date'])

In [37]:
market_data['month'] = market_data['effective to date'].dt.month

In [47]:
market_data['state'] = market_data['state'].fillna('unknown')
market_data['response'] = market_data['response'].fillna(method='ffill')
market_data['vehicle class'] = market_data['vehicle class'].fillna(method='ffill')
market_data['vehicle size'] = market_data['vehicle size'].fillna(method='ffill')
market_data['vehicle type'] = market_data['vehicle type'].fillna(method='ffill')
market_data['month'] = market_data['month'].fillna(method='ffill')

In [62]:
market_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer lifetime value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective to date              10910 non-null  datetime64[ns]
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location code                  10910 non-null  object
 12  marital status                 10910 non-null  object
 13  monthly premium auto           10910 non-null  int64
 14  months since last claim        10910 non-null  float64
 15  months since policy inception  10910 non-null  int64
 16  number of open complaints      10910 non-null  float64
 17  number of policies             10910 non-null  int64
 18  policy type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew offer type               10910 non-null  object
 21  sales channel                  10910 non-null  object
 22  total claim amount             10910 non-null  float64
 23  vehicle class                  10910 non-null  object
 24  vehicle size                   10910 non-null  object
 25  vehicle type                   10908 non-null  object
 26  month                          10910 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(16)
memory usage: 2.2+ MB

In [39]:
#market_data['effective to date'] = pd.to_datetime(market_data['effective to date'])

In [57]:
market_data['number of open complaints'].describe()

count    10910.000000
mean         0.361962
std          0.890134
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          5.000000
Name: number of open complaints, dtype: float64

In [53]:
market_data['number of open complaints'] = market_data['number of open complaints'].fillna(0)

In [61]:
market_data['months since last claim'].describe()

count    10910.000000
mean        15.149071
std          9.783520
min          0.000000
25%          7.000000
50%         15.000000
75%         23.000000
max         35.000000
Name: months since last claim, dtype: float64

In [60]:
mean_months = market_data['months since last claim'].mean()
market_data['months since last claim'] = market_data['months since last claim'].fillna(mean_months)

In [64]:
market_data.to_csv('clean_market_data.csv', index=False)

In [68]:
market_data['sales channel'].describe()

count     10910
unique        4
top       Agent
freq       4121
Name: sales channel, dtype: object

In [69]:
market_data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,unknown,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [77]:
sales_channel_totals = market_data.groupby('sales channel')['customer lifetime value'].sum().round(2)

In [103]:
sales_channel_totals['Agent']

33057887.85

In [104]:
sales_channel_totals['Call Center']

17364288.37

In [105]:
sales_channel_totals['Branch']

24359201.21

In [106]:
sales_channel_totals['Web']

12697632.9

In [110]:


data = {
    "Sales Channel": ["Agent", "Call Centre", "Branch", "Web"],
    "Revenue": [sales_channel_totals['Agent'], '17364288.37', sales_channel_totals['Branch'], sales_channel_totals['Web']]
}

pivot = pd.pivot_table(pd.DataFrame(data), values='Revenue', index='Sales Channel')

In [93]:
pivot

                   Revenue
Sales Channel
Agent          33057887.85
Branch         24359201.21
Call Center    17364288.37
Web            12697632.90

In [115]:
unique_poltype = market_data['policy type'].unique()
print(unique_poltype)

['Corporate Auto' 'Personal Auto' 'Special Auto']

In [120]:


# Assuming you have a DataFrame called 'df' with columns 'Policy Type' and 'Effective Date'
# and a column 'Number of Complaints' representing the number of complaints for each record

# Group by 'Policy Type' and 'Effective Date', and count the number of complaints
complaints_summary = df.groupby(['policy type', 'month']).size().reset_index(name='number of open complaints')

# Pivot the table to have 'Policy Type' as rows, 'Effective Date' as columns, and 'Number of Complaints' as values
pivot_table = pd.pivot_table(complaints_summary, values='number of open complaints', index='Policy Type', columns='month', fill_value=0)

print(pivot_table)

KeyError: 'policy type'

In [116]:
market_data['number of open complaints']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
10905    0.0
10906    0.0
10907    0.0
10908    4.0
10909    0.0
Name: number of open complaints, Length: 10910, dtype: float64